.yazd {
    width: 350px;
    height: 200px ;
}
.isfahan {
width: 350px;
height: 200px;
}
.tabriz{
width: 350px;
height: 200px;
}
.rasht{
    width: 350px;
    height: 200px;
}
.shiraz{
    width: 350px;
    height: 200px;
}
.ahvaz{
    width: 350px;
    height: 200px;
}