@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav1 {
    font-size: 16px;
    background-color: #a27d0c !important;
    color: #FFFFFF80;
}
.nav2 {
    background-color: #2d6a4f;
}
.logo {
    height: 60px;
    width: 60px;
}
.navbar-nav {
    margin-left: 250px;
}
.nav-link {
    font-family: "Roboto", serif;
    font-weight: 500;
    color: white;
}
.dropdown-menu {
    font-family: "Roboto", serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
   
}
.dropdown-item:hover {
    color: #a35d26;
}
.btn {
    background-color: #d27d0c;
}
.btn:hover {
    background-color: #a35d26;
}
.menuitem {
    font-size: 70px;
    padding-top: 150px !important;
}
.nav-link:hover {
    color: #a35d26;
}
.header1 {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}
.navbar-brand {
    font-family: "Poppins", serif;
    font-weight: 570;
}
.card-title {
    padding-top: 80px;
    padding-left: 50px;
    font-weight: 700;
    font-size: 50px;
}
.menunav {
    list-style: none;
   
}
.itemnav {
    font-family:"Roboto", serif;
    font-weight: 450;
}
.itemnav:hover {
    color: #a35d26 !important;
}
.card-header {
    width: 150px;
    height: 150px;
}
.image2 {
    margin-top: 100px;
}
.cardblue {
    border: 15px solid #374731 !important;
    left: 230px;
    background-color: #a27d0c !important;
}
.cardgray {
    margin-left: 100px;
}
.paragreen {
    color: #374731;
}
.parablue {
    padding-right: 100px;
    color: #374731 !important;
}
.guid1 {
    background-color: #2d6a4f;
}
.guid2 {
    background-color: #a27d0c;
}
.tour {
    color: #374731;
}
.counter {
    padding-left: 100px;
    padding-top: 60px;
}
.number {
    padding-top: 100px;
}
.number1 {
    font-weight: 800;
    font-size: 50px;
}
.card-group {
    margin-bottom: 200px !important;
}
.card1 {
    color: #374731;
    transition: all 0.3s ease;
    position: relative;
}
.card1:hover{
    transform: translate(0,-30%);
}
.card1:hover .cardtext {
    display: none;
}
.icon1 {
    display: none;
    position: absolute;
    left: 23%;
}
.card1:hover .icon1 {
     display: flex;
     justify-content: center;
     flex-direction: row;
}
.footernav1 {
    perspective: 600px;
}
.footernav2 {
    transition: all 0.5s ease;
    transform-origin: left;
}
.footernav2:hover {
    transform: rotatey(-10deg) scale(1.1);
    color: white;
}
.footer1 {
    background-color: #2d6a4f;
}
body {
    overflow-x: hidden;
    width: 100%;
    background-color: #e6e8dd;
}
.us, .hr {
    color: #d27d0c;
}
.btn-outline {
    color: #d27d0c !important;
}
.foot {
    gap:700px;
}